{% extends "layouts/base.html" %}

{% block content %}
<!-- Hero cont -->
<section class="section1">
  <div class="hero container" id="hero">
    <h1> DEEN APP</h1>
    <p class="p_body">
      Badi waxaa dhacda in dadka fududaystaan diwaangalinta deemahooda marba hadii aysan ahayn ganacsato. Deenta kaa maqan ee cidna kula ogayn waa raasumaalka qowskaaga, tan kugu maqan oo aadan cadaynna waa xisaab aaqiro oo wayn. 

    </p>
    <div class="sub_hero">
      <div class="inner_sub_hero">
        <p>
          App-kaan waxa uu kuu sahlayaa in aad ku kaydsato daymahaan si loo raadiyo kuwa kaa maqan loona bixiyo kuwa kugu maqan.
        </p>
        <button type="button" class="btn  create_acc_btn">CREATE ACCOUNT</button>
      </div>
    </div>
  </div>
</section>
<!-- search btn cont -->
 <section class="section">
    <div class=" search_main_cont container">
      <div class="search_cont container">
        <form action="#" class="form_input">
          <input class="search_input" type="text" placeholder="Halkaan ka raadi magac, naanaysta ama number gaaban" aria-label="search here"  id="search_field">
          <input class="btn search_btn" type="submit" value="SEARCH HERE" id="search_btn">
        </form>
        
        
      </div>
    </div>
 </section>
<section class="section">
  <div class="deemaha container">
    <h1>this my deemaha section</h1>
  </div>
</section>
<section>
  <div class="faq container">
    <h1>this is my FAQ section</h1>
  </div>
</section>
{% endblock %}

<!-- index.js -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>